<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<body>

	<div id="alert" th:fragment="alert-sucess">
		<div th:if="${sucess != null}" >
			<div class="alert alert-success alert-dismissible fade show" role="alert">
			  <i class="oi oi-check"></i>
			  <span>
			  	<strong th:text="${sucess}"></strong>
			  </span>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>
		
		<div th:if="${failure != null}" >
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			  <i class="oi oi-check"></i>
			  <span>
			  	<strong th:text="${failure}"></strong>
			  </span>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>	
	</div>
</body>