<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{label.name_title}"></title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="gym strong healft" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/style-login.css(v=${version})}" rel="stylesheet" />
</head>
<body>
	<form class="form-signin was-validated" method="post" 
		th:action="@{/login}">
		<div class="text-center mb-4">
			<img class="mb-4" th:src="@{/image/lion.png}" alt=""
				width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">
				<output th:utext="#{label.name_title}"></output></h1>

			<p class="font-weight-lighter"><output th:utext="#{label.be_welcome}"></output></p>
			<p class="text-muted"><output th:utext="#{label.please_login_continue}"></output></p>			
			<div th:if="${alert != null}" th:class="${alert == 'erro'} ? 'alert alert-danger' : 'alert alert-success'"
				 role="alert">
			  <h4 th:text="${title}" class="alert-heading"><output th:utext="#{label.credentials}"></output></h4>
			  <p th:text="${text}"><output th:utext="#{label.incorrect_login_password}"></output></p>
			  <hr>
			  <p class="mb-0"><small th:text="${subtext}"><output th:utext="#{label.access_allowed}"></output>
			  	</small></p>
			</div>
		</div>

		<div class="form-label-group">
			<input type="text" id="inputEmail" class="form-control"
				placeholder="Email address" name="username" required autofocus>
			<label for="inputEmail"><output th:utext="#{label.email}"></output></label>
			<div class="invalid-feedback"><output th:utext="#{label.use_your_registered_email}"></output></div>
		</div>

		<div class="form-label-group">
			<input type="password" id="inputPassword" class="form-control"
				placeholder="Password" name="password" required> 
			<label for="inputPassword"><output th:utext="#{label.password}"></output></label>
			<div class="invalid-feedback"><output th:utext="#{label.type_your_password}"></output></div>	
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<output th:utext="#{label.login}"></output></button>
		<hr>

		<p class="mt-5 mb-3 text-muted text-center"><output th:utext="#{label.name_title}"></output></p>
	</form>
</body>
</html>
